*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header */
.encabezado{
    background-color: #b0c4de;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    text-align: center;
    color: black;
    font-size: 28px;
}
/* Main */
.app{
    height: 100vh;
    width: 85vw;
    margin: 2rem auto;
    display: block;
    position: relative;
}
.tarjeta{
    background-color: #a0a0a0;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: white;
}
.tarjeta h2{
    padding: 10px;
    background-color: #5e5c5c;
    border-radius: 5px;
}
.tarjeta input{
    width: 100%;
    margin: 1rem 0rem;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;

    &:focus{
        border-bottom: 2px solid blue;
    }
}
.btnAgregar{
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    text-decoration: dotted;

    &:hover{
        background-color: rgb(26, 181, 192);
        cursor: pointer;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.lista{
    display: flex;
    flex-direction: column;
    background-color: #5e5c5c;
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    height: auto;
}
.contactos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.icono{
    cursor: pointer;
}

/* Tamaño Escritorio */
.escritorio{
    display: none;
}

@media (min-width:768px) {
    .escritorio{
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    
    .encabezado{
        display: none;
    }

    .app{
        display: none;
    }
}